header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 330px;
    padding-right: 250px;
}

nav ul {
    list-style: none;

    display: flex;
}

nav li {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
}

/*Overview Hero Here*/

.overview-hero {
    display: flex;
    align-items: center;
}

.overview-hero-image img {
    width: 300px;
    height: auto;
}

.overview-hero-text {
    margin-left: 20px; /* Add some space between the image and text */
}

.overview-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px; /* Adjust this value to control the maximum width of the content */
    margin: 0 auto; /* Center the container */
}

/*LEARN ABOUT*/
.learn-about {
    text-align: left;
}

.learn-about h2 {
    padding-left: 30px;
}

.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.learn-about .card {
    text-align: left;
}

.learn-about .card img {
    width: 300px;
    height: 200px;
}

.learn-about .card-body {
    margin-top: 10px;
    padding-left: 20px;
}

.learn-about .container {
    max-width: 800px;
    margin: 0 auto;
}

/*Test Covid 19*/

.testing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left; /* Align text to the left */
}

.testing-desciption {
    max-width: 40%; /* Adjust as needed */
    margin-top: 50px;
    margin-left: 100px;
}

.cta {
    text-align: left; /* Align button to the right */
}

.cta .btn {
    margin-left: 320px;
    display: inline-block; /* Make the button a block element */
}

.testing .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: left; /* Center text */
}
