header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 330px;
    padding-right: 250px;
}

nav ul {
    list-style: none;

    display: flex;
}

nav li {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
}

/*Overview Hero Here*/

.overview-hero {
    display: flex;
    align-items: center;
}

.overview-hero-image img {
    width: 300px;
    height: auto;
}

.overview-hero-text {
    margin-left: 20px;
}

.overview-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

/*LEARN ABOUT*/
.learn-about {
    text-align: left;
}

.learn-about h2 {
    padding-left: 30px;
}

.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.learn-about .card {
    text-align: left;
}

.learn-about .card img {
    width: 300px;
    height: 200px;
}

.learn-about .card-body {
    margin-top: 10px;
    padding-left: 20px;
}

.learn-about .container {
    max-width: 800px;
    margin: 0 auto;
}

/*Test Covid 19*/

.testing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.testing-desciption {
    max-width: 40%;
    margin-top: 50px;
    margin-left: 100px;
}

.cta {
    text-align: left;
}

.cta .btn {
    margin-left: 320px;
    display: inline-block;
}

.testing .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

/*RECENT STORIES*/
.stories .container {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    align-items: left;
    margin-top: 100px;
}

.stories h2 {
    text-align: left;
    padding-left: 10px;
}

article {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

article img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
}

.article-body h3 {
    margin-top: 0;
    width: 430px;
}

.article-body {
    flex: 1;
    padding-left: 40px;
    width: 600px;
}

.article-body p {
    width: 560px;
}

.article-body a {
    text-decoration: none;
    color: #007bff;
}

/*NewsLetter Section*/

.newsletter {
    text-align: center;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.newsletter p {
    width: 410px;
}

.newsletter form {
    overflow: hidden;
}

.newsletter .form-group input {
    float: left;
    width: 260px;
    height: 40px;
}

.newsletter .btn {
    float: left;
    margin-left: 10px;
    height: 45px;
    width: 130px;
}