header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 330px;
    padding-right: 250px;
}

nav ul {
    list-style: none;

    display: flex;
}

nav li {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
}

